:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.body {
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  margin-bottom: 10px;

  h1 {
    padding-top: 2px;
  }
}

.mat-mdc-header-cell, .mat-mdc-cell {
  text-align: center;
}
