.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 15px;
}

.paddin-top {
  padding-top: 15px;
}

.paddin-bottom {
  padding-bottom: 15px;
}

.paddin-left {
  padding-left: 15px;
}

.paddin-right {
  padding-right: 15px;
}
