<mat-nav-list>
  <a mat-list-item routerLink="protected/student" (click)="onSidenavClose()">
    <mat-icon>person</mat-icon> <span class="nav-caption">Student</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>directions_run</mat-icon> <span class="nav-caption">Muscular Group</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>fitness_center</mat-icon><span class="nav-caption">Exercises</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>list_alt</mat-icon><span class="nav-caption">Training Sheet</span>
  </a>
</mat-nav-list>
